.App {
    background-color: hsla(194, 68%, 80%, 0.3);
    height:100%;
    position: absolute;
    width:100%;
    overflow: auto;
}
.detailsSection {
    border: 2px solid white;
    text-align: center !important;
    padding: 20px 10px 20px 0px;
}
.chartSection { 
    text-align: center !important;
    cursor: pointer;
}
.errorSection {
    background-color: white;
    height: 80vh;
    text-align: center;
    padding-top: 20vh;
}
.placeholder-chart{
    font-size: 12px;
    color: grey;
    text-align: center;
    margin-top: 90px;
}

